@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color_131921: #131921;
  --color_3b4149: #3b4149;
  --color_febd69: #febd69;
  --color_232f3e: #232f3e;
  --rounded-btn: 0.2rem;
  background-color: unset;
  --color_df4800: #df4800;
  --color_f5f5f7: #f5f5f7;
  --color_ededed: #ededed;
  --color_bf4800: #bf4800;
  --color_777777: #777777;
  --swiper-navigation-size: 12px !important;
  --swiper-theme-color: #000 !important;
}

body {
  font-family: "IBM Plex Sans", sans-serif !important;
  background-color: #fff;
}
.layout {
  max-width: 1600px !important;
  margin: 0 auto !important;
}

.box_shadow {
  box-shadow: 0 0 10px #0000001a;
}

.section_gap {
  margin-top: 30px;
}

.section_title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
  color: var(--color_232f3e);
}

.slick-prev {
  width: 40px !important;
  left: 93% !important;
  position: absolute !important;
  height: 40px !important;
  background: #ddd !important;
  z-index: 1 !important;
  border-radius: 50% !important;
}

.slick-next {
  width: 40px !important;
  right: 0 !important;
  position: absolute !important;
  height: 40px !important;
  background: #ddd !important;
  z-index: 1 !important;
  border-radius: 50% !important;
}

.slick-prev:focus,
.slick-prev:hover,
.slick-next:hover,
.slick-next:focus {
  color: transparent !important;
  outline: none !important;
  background: var(--color_232f3e) !important;
}

/* Header */
.header_top {
  background-color: var(--color_131921);
  border-bottom: 1px solid var(--color_3b4149);
}

.header_middle {
  background-color: var(--color_131921);
  border-bottom: 1px solid var(--color_3b4149);
}

.search span {
  background-color: var(--color_febd69);
}

.header_bottom {
  background-color: var(--color_232f3e);
}

.mainmenu a {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.mainmenu a:hover,
.catagory_menu .dropdown .catagory_menu_btn:hover {
  transition: all 0.3s;
  opacity: 0.8;
  color: #fff !important;
}

.catagory_menu .dropdown .catagory_menu_btn::before {
  content: "";
  background-image: url("./../public/images/menu.svg");
  height: 30px;
  width: 30px;
  display: inline-block;
}

.mainmenu::before {
  display: inline-block;
  content: "";
  width: 2px;
  height: 20px;
  background-color: var(--color_3b4149);
}

.catagory_menu .dropdown .menu {
  border-top-right-radius: 0 !important;
  border-top-left-radius: 0 !important;
  background-color: var(--color_131921);
}

.catagory_menu .dropdown .menu li {
  color: #fff;
  padding: 5px 0px;
  border-bottom: 1px solid var(--color_3b4149);
}

.catagory_menu .dropdown .menu li:focus {
  background-color: #131921;
}

.catagory_menu .dropdown .menu li:hover {
  opacity: 0.8;
  transition: all 0.3s;
  border-bottom: 1px solid #fff;
}

.catagory_menu
  .dropdown
  .menu
  :where(li:not(.menu-title):not(:empty))
  > :where(:not(ul).active),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active),
.menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):hover) {
  background-color: var(--color_232f3e);
}

/* Footer */
.footer_bg {
  background-color: var(--color_232f3e);
}

.footer_bottom,
.footer_middle {
  border-top: 1px solid var(--color_3b4149);
}

.newsletter span {
  background-color: var(--color_131921);
}

.footer_info {
  color: #ddd;
}

.silder_info {
  background-color: #00000034;
}

.banner_subtitle {
  color: var(--color_df4800) !important;
}

.silder_info p {
  color: var(--color_131921);
}

.body_wrapper {
  background-color: var(--color_f5f5f7);
}

.catagory {
  border-bottom: 1px solid var(--color_ededed);
  border-right: 1px solid var(--color_ededed);
}

.catagory_desc {
  color: var(--color_3b4149);
}

/* Blogs */

.blog .slick-arrow {
  top: -13% !important;
}

/* Featured Collection */
.product_brand {
  color: var(--color_df4800);
}

.product_title {
  color: var(--color_232f3e);
}

.wishlist img:hover,
.action_bar img:hover {
  background-color: var(--color_febd69);
}

.action_bar {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  right: 0;
}

.product_inner:hover .action_bar {
  opacity: 1;
  visibility: visible;
  right: 2%;
}

.product_inner:hover .product_tag {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}

.featured_collection_section .slick-arrow {
  top: -13% !important;
}

/* Special Products */

.offer_price {
  color: var(--color_131921);
}

.special_product_inner .product_price {
  color: var(--color_bf4800);
}

.special_product_inner .product_option {
  background-color: var(--color_232f3e);
  color: #fff;
}
.special_product_inner:hover .product_option {
  background-color: var(--color_febd69);
  color: var(--color_232f3e);
  border-color: var(--color_febd69);
}

.special_product_inner .slick-next {
  font-size: 0 !important;
  line-height: 0 !important;
  position: absolute !important;
  top: 50% !important;
  display: block !important;
  width: 20px !important;
  height: 20px !important;
  padding: 0 !important;
  transform: translate(0, -50%) !important;
  cursor: pointer !important;
  color: transparent !important;
  border: none !important;
  outline: none !important;
  background: var(--color_febd69) !important;
  right: -5% !important ;
  border-radius: 50%;
}

.special_product_inner .slick-prev {
  font-size: 0 !important;
  line-height: 0 !important;
  position: absolute !important;
  top: 50% !important;
  width: 20px !important;
  height: 20px !important;
  padding: 0 !important;
  transform: translate(0, -50%) !important;
  cursor: pointer !important;
  color: transparent !important;
  border: none !important;
  outline: none !important;
  background: var(--color_febd69) !important;
  left: -5% !important ;
  border-radius: 50%;
}

.special_product_inner .slick-prev:before,
.special_product_inner .slick-next:before {
  position: relative;
  top: 1px;
}

.special_product_inner .action_bar {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  right: -5%;
}

.special_product_inner:hover .action_bar {
  opacity: 1;
  visibility: visible;
  right: -3%;
}

.special_products_section .slick-arrow {
  top: -5% !important;
}

.special_product_inner .slick-arrow {
  top: 46% !important;
}

/*  */

.swiper_thumbs .swiper-slide,
.special_products_section .slick-slide {
  opacity: 0.7;
}

.swiper_thumbs .swiper-slide.swiper-slide-thumb-active,
.special_products_section .slick-slide.slick-current {
  opacity: 1;
}

.swiper-button-next,
.swiper-button-prev {
  top: 53% !important;
  background: var(--color_febd69);
  width: 25px !important;
  height: 25px !important;
  border-radius: 50% !important;
}

.famous_collection_section .silder_info p {
  color: #fff;
}
.slider img {
  overflow: hidden !important;
}
.famous_product:hover .slider img {
  transform: scale(1.2);
}

.famous_collection_section .slick-track,
.featured_collection_section .slick-track,
.services .slick-track,
.blogs_section .slick-track {
  display: flex !important;
  gap: 20px !important;
  justify-content: space-between !important;
}

/* Shop page */
.filter_title {
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  text-transform: capitalize;
  letter-spacing: 0.8px;
  color: var(--color_131921);
  margin-bottom: 20px;
}

.filter_card {
  margin-bottom: 20px;
}

.filter_menu_item {
  color: var(--color_777777);
}

.sub_filter_title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color_131921);
  line-height: 28px;
  margin-bottom: 10px;
}

.price_range input {
  background-color: var(--color_f5f5f7);
}

.product_tag button {
  background-color: var(--color_f5f5f7);
  color: var(--color_777777);
}
.product_tag button:hover {
  background-color: var(--color_febd69);
  color: var(--color_131921);
}

.random_products div:last-child {
  border-bottom: none;
}

/* store main */
.store_header_text {
  color: var(--color_777777);
}

.store_header select,
.product_count {
  background-color: var(--color_f5f5f7) !important
  ;
}

/* Compare Products */

.cross {
  visibility: hidden;
  opacity: 0;
}

.compare_products .product:hover .cross {
  visibility: visible;
  opacity: 1;
}

.compare_products .info_right {
  color: var(--color_777777);
}

/* User */

.user_form input {
  background-color: var(--color_f5f5f7);
}

.first_button {
  background-color: var(--color_232f3e);
  color: #fff;
}

.first_button:hover {
  background-color: var(--color_febd69);
  color: var(--color_232f3e);
}

.second_button {
  background-color: var(--color_febd69);
  color: var(--color_232f3e);
}

.second_button:hover {
  background-color: var(--color_232f3e);
  color: #fff;
}
